  body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: #f8f9fa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  form {
      background-color: white;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 300px;
  }

  label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
  }

  input {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  }

  button {
      width: 100%;
      background-color: #007BFF;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
  }

  button:hover {
      background-color: #0056b3;
      font-weight: bold;
      
  }
  textarea {
    max-width: 295px;
    max-height: 300px;
    min-width: 295px;
    min-height: 50px;
  }